services:
  claude:
    image: brianclaridge/claudebox:latest
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        poshThemesURL: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/refs/heads/main/themes
        poshThemesPath: /poshthemes
        poshTheme: quick-term
        baseImage: ubuntu:24.04
        kubectlVersion: 1.34.2
        jdkVersion: 21
        goVersion: 1.25.4
        rustVersion: 1.91.1
        nodeVersion: 24
        powershellVersion: 7.5.4
        sqlProxyVersion: 2.19.0
        glabVersion: 1.78.3
        pythonVersion: 3.12
        buildDate: 20251218.1
        claudeCodeDate: 20251218.1
    init: true
    privileged: true
    ulimits:
      nofile:
        hard: 90000
        soft: 65000
      nproc: 65535
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    working_dir: /workspace/
    env_file:
      - .env
    environment:
      HOST_TASK_OS: ${OS}
      HOME_DIR: ${HOME_DIR}
      HOME_SSH_PATH: ${HOME_SSH_PATH}
      AWS_CONFIG_FILE: /root/.aws/config
      COLORTERM: truecolor
      OLLAMA_API_BASE: http://ollama:11434
      OLLAMA_API_KEY: ollama
      USERPROFILE: /root
      UV_LINK_MODE: copy
      CDK_DISABLE_CLI_TELEMETRY: true
      DOCKER_SOCK_PATH: ${DOCKER_SOCK_PATH}
      # /workspace vars
      WORKSPACE_PATH: /workspace
      WORKSPACE_DATA_PATH: /workspace/.data
      WORKSPACE_LOGS_PATH: /workspace/.data/logs
      WORKSPACE_HOST_PATH: ${CLAUDE_PARENT_DIR}
      # .claude vars
      CLAUDE_ROOT_PATH: /root/.claude
      CLAUDE_PROJECTS_YML_PATH: /root/.claude/projects.yml
      CLAUDE_PATH: /workspace/.claude
      CLAUDE_DATA_PATH: /workspace/.claude/.data
      CLAUDE_LOGS_PATH: /workspace/.claude/.data/logs
      CLAUDE_AGENTS_PATH: /workspace/.claude/agents
      CLAUDE_COMMANDS_PATH: /workspace/.claude/commands
      CLAUDE_PLANS_PATH: /workspace/plans
      CLAUDE_PROMPTS_PATH: /workspace/.claude/prompts
      CLAUDE_RULES_PATH: /workspace/.claude/rules
      CLAUDE_SCRIPTS_PATH: /workspace/.claude/scripts
      CLAUDE_SKILLS_PATH: /workspace/.claude/skills
      CLAUDE_CONFIG_YML_PATH: /workspace/.claude/config.yml
      CLAUDE_PROJECT_SLUG: ${CLAUDE_PROJECT_SLUG}
    volumes:
      # dind stuff
      - ${DOCKER_SOCK_PATH}:/var/run/docker.sock
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      # bind folder mounts
      - ${HOME_SSH_PATH}:/ssh:ro
      - ${CLAUDE_ROOT_PATH}:/root
      - ${CLAUDE_PARENT_DIR}:/workspace/:delegated
      # misc volumes
      - minikube-data:/root/.minikube
      - kube-data:/root/.kube
      - maven-data:/root/.m2
    networks:
      - claude-stack
      - default

networks:
  claude-stack:
    external: true
  default:
    driver: bridge

volumes:
  minikube-data: {}
  kube-data: {}
  maven-data: {}
